@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&display=swap");

/* varialbes */
:root {
  /* colors */
  --bc1: #558960;
  --bc2: #fffce8;
  --sec1: #97252c;
  --sec2: #dda15e;

  /* I am still working in this formula to make responsive font */
  --heading-1: calc(2rem + 1vw);
  --heading-2: bold calc(1rem + 6 * ((100vw - 320px) / 680));
  --heading-3: bold calc(1rem + 4 * ((100vw - 320px) / 680));
  --body-font-size: calc(1rem + 1 * ((100vw - 320px) / 680));
}

/* reset */
body,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

/* base styles */

* {
  box-sizing: border-box;
  /* outline: 2px dotted red; */
}

/* fonts */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
}

/* Navigation bar styles*/
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 6vw 0 6vw;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
}

nav a:hover {
  color: #558960;
}

nav ul li {
  margin-right: 60px;
}

.burger-icon {
  display: none;
}

nav > div > a {
  color: black;
  text-decoration: none;
}

nav > div > a:first-child {
  margin-right: 15px;
}

nav > div {
  display: flex;
  align-items: center;
}

/* ---headings--- */
/* h1 {
  display: block;
  text-align: center;
  font-size: var(--heading-1);
}

h2 {
  font-size: var(--heading-2);
}

h3 {
  font-size: var(--heading-3);
} */

/* ---footer--- */

footer {
  display: flex;
  flex: 1 2 30%;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  max-width: 90%;
  margin: 3% auto;
  border-top: solid 1px var(--bc1);
  padding-top: 5vw;
  gap: 3%;
}

footer a {
  color: var(--bc1);
}
/* ---product list pages--- */

#produtsCont {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  column-gap: 6vw;
  row-gap: 3vw;
  /*to center a div set the width of the element and set margin to auto*/
  max-width: 85%;
  margin: auto;
}

.productImg {
  margin: auto;
  max-width: 100%;
  filter: drop-shadow(18px 18px 10px rgb(39, 37, 37));
}
.producTitle {
  margin-bottom: 0%;
  /* font-size: var(--heading-2); */
}
.desc {
  color: dimgray;
  margin: 0%;
}
.price {
  color: var(--bc1);
  font-weight: bold;
}

/* ---buttons--- */
.buyButton {
  color: #fffce8;
  background-color: var(--bc1);
  padding: 12px 16px;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 10px;
  border: 3px solid #558960;
}

.buyButton:hover {
  background-color: #2e4e35;
  border: 3px solid #2e4e35;
}

.customisemeButton {
  color: #fffce8;
  background-color: var(--sec2);
  padding: 12px 16px;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 10px;
  border: 3px solid var(--sec2);
}

.customisemeButton:hover {
  background-color: transparent;
  color: var(--sec2);
}

/* ---single product page--- */

#singleCont {
  display: grid;
  grid-template-columns: repeat(2, 35%);
  justify-content: space-evenly;
  place-items: center;
  gap: 10vw;
  max-width: 80%;
  margin: 5% auto;
}

#singleCont article {
  display: flex;
  flex-direction: column;
  row-gap: 2vw;
}
#singleCont img {
  max-width: 100%;
}

#form1 {
  margin: 1vw;
}
#quantity {
  max-width: 3vw;
  text-align: center;
}

/* ---icon section--- */
#iconsWrap {
  max-width: 96%;
  margin: auto;
  justify-content: space-evenly;
  place-self: center;
  display: grid;
  grid-template-columns: repeat(3, 320px);
  gap: 4%;
}
.iconsCont {
  display: flex;
  gap: 5%;
}
.icons {
  max-width: 30%;
  color: var(--bc1);
}

/* ---related products--- */

.related {
  margin: 6vw auto;
  max-width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.related h2:first-of-type {
  text-align: center;
  grid-column: 1/-1;
}

/*custom soap page*/
#customsoap .described {
  display: grid;
}
.hidden {
  display: none;
}
.headnote,
.heartnote,
.basenote,
.shapes,
.colour {
  display: flex;
}
#colour1 {
  width: 2%;
  height: 50%;
  background-color: #e2e3dd;
}
#colour2 {
  width: 2%;
  height: 50%;
  background-color: black;
}
#colour3 {
  width: 2%;
  height: 50%;
  background-color: #e4717a;
}
#colour4 {
  width: 2%;
  height: 50%;
  background-color: #add8e6;
}
#colour5 {
  width: 2%;
  height: 50%;
  background-color: #987bae;
}
#colour6 {
  width: 2%;
  height: 50%;
  background-color: #ffa500;
}
#colour7 {
  width: 2%;
  height: 50%;
  background-color: #74413e;
}
#colour8 {
  width: 2%;
  height: 50%;
  background-color: #1e3f5a;
}
#colour9 {
  width: 2%;
  height: 50%;
  background-color: #ffff00;
}

/* small tablet styles */
@media screen and (min-width: 620px) {
  #customsoap .described {
    display: grid;
    margin: 2%;
  }
  .described h1 {
    grid-column: 1/-1;
  }
  .described div {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .described > div > img {
    width: 14em;
  }
  .process {
    display: grid;
  }
}
/* large tablets and laptop styles */
@media screen and (min-width: 960px) {
}

/* destop styles */
@media screen and (min-width: 1200px) {
}

@media screen and (max-width: 1000px) {
  nav ul {
    display: none;
  }

  .burger-icon {
    display: inline;
    margin-left: 15px;
    background-color: #558960;
    padding: 12px;
    color: white;
    border-radius: 10px;
  }

  .burger-icon:hover {
    color: white;
  }

  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive ul {
    display: block;
    position: absolute;
    top: 70px;
    right: -100px;
    height: 100vh;
    width: 100vw;
    background-color: #558960;
    padding: 60px 60px 30px 40px;
    border-radius: 10px;
    z-index: 100;
  }

  .topnav.responsive ul li {
    margin-bottom: 50px;
    border-bottom: 1px solid rgb(223, 223, 223);
    padding-bottom: 1vw;
  }

  .topnav.responsive ul li a {
    color: white;
    font-size: 5vw;
  }
}

/* Front page styles */
#landing-page-container {
  display: flex;
  justify-content: center;
  column-gap: 30px;
  margin: 40px 6vw 100px 6vw;
}

.landing-page-option-container {
  position: relative;
  width: 45vw;
}

.landing-page-option-container > div {
  position: absolute;
  top: 15%;
  left: 5%;
}

.landing-page-option-container img {
  object-fit: cover;
  border-radius: 10px;
  width: 100%;
}

.landing-page-option-container h1 {
  font-size: 5vw;
  color: #fffce8;
  text-align: left;
}

.landing-page-option-container h2 {
  font-size: 5vw;
  color: #fffce8;
}

.landing-page-option-container:last-child > div {
  top: 30%;
}

.primary-button {
  color: #fffce8;
  background-color: #558960;
  padding: 14px 30px;
  font-size: 1rem;
  border-radius: 10px;
  border: 3px solid #558960;
}

.primary-button:hover {
  background-color: #2e4e35;
  border: 3px solid #2e4e35;
}

.secondary-button-front {
  color: #fffce8;
  padding: 14px 30px;
  font-size: 1rem;
  border-radius: 10px;
  border: 3px solid #fffce8;
}

.secondary-button-front:hover {
  background-color: #fffce8;
  color: black;
}

@media screen and (max-width: 1000px) {
  #landing-page-container {
    flex-direction: column;
    align-items: center;
  }

  .landing-page-option-container {
    width: 90vw;
  }

  .landing-page-option-container img {
    height: 600px;
  }

  .landing-page-option-container h1 {
    font-size: 3.5rem;
    color: #fffce8;
  }
  .landing-page-option-container h2 {
    font-size: 3.5rem;
    color: #fffce8;
  }
}

#about-front-container {
  background-image: url("https://ethordesign.com/files/customiseme/plant.webp");
  background-repeat: no-repeat;
  background-position: right top;
}

#about-front-container > div {
  display: flex;
  justify-content: space-between;
  margin: 40px 6vw 100px 6vw;
  padding-bottom: 300px;
}

#about-front-container > div > div {
  display: flex;
}

#about-front-container > div > div > div {
  margin-left: 30px;
}

#about-front-container h3 {
  font-size: 1.8rem;
  margin: 0;
  line-height: 2.3rem;
}

#about-front-container p {
  white-space: nowrap;
}

@media screen and (max-width: 1000px) {
  #about-front-container > div {
    flex-direction: column;
    align-items: center;
    row-gap: 60px;
  }

  #about-front-container > div > div {
    width: 300px;
  }
}
